<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center border-b-2 border-fuchsia-600">
    <div class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
    <svg class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
    </svg>
      <%= link_to 'PagaPaga', root_path, class: "ml-3 text-xl" %>
    </div>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <%= link_to 'Registrar-se', root_path, class: "pr-4" %>
      <%= link_to 'Entrar', root_path %>
    </nav>
  </div>
</header>